@model Noticias

@{
    ViewData["Title"] = "Excluir Notícia";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-success">Excluir Notícia</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Id"></label>
            <input disabled asp-for="Id" class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="Titulo"></label>
            <input disabled asp-for="Titulo" class="form-control"/>
            @*<span asp-validation-for="Name" class="text-danger"></span>*@
        </div>
        <div class="mb-3">
            <label asp-for="ResumoMateria"></label>
            <input disabled asp-for="ResumoMateria" class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="Conteudo"></label>
            <textarea disabled asp-for="Conteudo" class="form-control" cols="40" rows="10" style="resize: none;"></textarea>
            @*<span asp-validation-for="DisplayOrder" class="text-danger"></span>*@
        </div>
        <div class="mb-3">
            <label asp-for="Categoria"></label>
            <input disabled asp-for="Categoria" class="form-control"/>
        </div>
        <button type="button" class="btn btn-danger" style="width:150px" data-toggle="modal" data-target="#ExemploModalCentralizado">Excluir</button>
        <a asp-controller="Dashboard" asp-action="News" class="btn btn-secondary" style="width:150px">
            Voltar para lista
        </a>
        <div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="TituloModalCentralizado">Confirmação</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Deseja realmente excluir a notícia?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-danger">Excluir</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

