@model IEnumerable<Noticias>

@{
    ViewData["Title"] = "Notícias";
}

<div class="container p-3">
    <h2 class="text-light text-center bg-success py-1 border-3">Notícias</h2>
    @foreach (var obj in Model)
    {
        <div class="list-group m-0" id="list-news">
            <a class="list-group-item list-group-item-action" asp-controller="Noticias" asp-action="Visualizar" asp-route-id="@obj.Id" id="links-news">
                <div class="row">
                    <div class="col-md-3">
                        <img src="~/images/logo-passagem-navbar.png">
                    </div>
                    <div class="col">
                        <h5 class="text-success">@obj.Titulo</h5>
                        <span>Sla oq caralhos colocar aqui espero que de certo pensando bem eu poderia colocar os outros dois aqui ne sla</span>
                    </div>
                    <div class="col-md-1">
                        <p>@obj.CriadoEm.Day/@obj.CriadoEm.Month/@obj.CriadoEm.Year</p>
                    </div>  
                    <div class="col-md-1">
                        <span class="badge alert-warning mr-1 text-black p-2">@obj.Categoria</span>
                    </div>       
                </div>
            </a>
        </div>
    }
</div>