@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.fds {
    padding-left: 50px;
    font-weight: 600;
    white-space: nowrap;
}
.fds > span {
    padding-left: 6px;
}

.navbar {
    font-family: 'Montserrat', sans-serif;
}

.bold{
    font-weight: 600;
}

.line-height{
    line-height: 5vh;
}

#selecionado {
    border-bottom: 3px solid #02b875;
}

.footer-text {
    font-size: 0.8rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 20px;
    padding: 5px 0px;
}

#links-news:hover{
    cursor: pointer;
}